<div class="modal fade" id="hm-modal-warn" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title redText text-center" id="">Warning</h4>
      </div>
      <div class="modal-body">
        <blockquote cite="/settings/grading/adjust" class="redText hm-modal-warn-body">
        </blockquote>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">it's Ok</button>
      </div>
    </div>
  </div>
</div>
