<title>Accounts </title>
<div  >
  <div id="content" class="app-content ng-scope"  role="main" ui-view="content@"><div class="box ng-scope">
		  <!-- Content Navbar -->
      <div w3-include-html="/templates/navTop" class="hm-nav-bar-top">&nbsp;</div>

		  <!-- Content -->
		  <div class="box-row">
			<div class="box-cell">
			  <!-- uiView:  --><div class="box-inner padding ng-scope" ui-view="" id="view"><!-- uiView:  --><div ui-view="" class="ng-scope">
		  <div class="row ng-scope">
		     <div class="col-md-3 hm-nav-bar-aside">
				<div class="col-sm-12">
				  <h5 class="no-margin m-b lc-account">Manage Accounts</h5>
				  <div class="list-group list-group-gap">
					<a href="/superuser" class="list-group-item md-whiteframe-z1">
					  <span class="mdi-action-home pull-left"></span><span class="margin-3 lc-nav-home">  Home </span> <span class="mdi-navigation-chevron-left pull-right"></span>
					</a>
          <a href="/accounts"  class="list-group-item md-whiteframe-z0 bd-l-red">
					  <span class="mdi-av-equalizer pull-left"></span><span  class="margin-3 lc-nav-ov">   Overview </span> <span class="mdi-toggle-radio-button-on text-danger pull-right"></span>
					</a>
          <a href="/accounts/view"  class="list-group-item md-whiteframe-z0">
					  <span class="mdi-content-content-paste pull-left"></span><span  class="margin-3 lc-nav-acc">   Accounts  </span> <span class="mdi-navigation-chevron-left pull-right"></span>
					</a>
					<a href="/accounts/instructor" class="list-group-item md-whiteframe-z0">
					  <span class="mdi-action-account-circle pull-left"></span><span class="margin-3 lc-nav-tt">   Instructors </span> <span class="mdi-navigation-chevron-left pull-right"></span>
					</a>
          <a href="/accounts/adminstrator" class="list-group-item md-whiteframe-z0">
					  <span class="mdi-action-account-circle pull-left"></span><span class="margin-3 lc-nav-admin">   Adminstrators </span> <span class="mdi-navigation-chevron-left pull-right"></span>
					</a>
				  </div>
				</div>
			  </div>
			  <div class="col-md-9">
          <h5 class="text-left b lc-mn-acc-hd">Company User Accounts Overview </h5>
          <div class="col-sm-4">
             <div class="panel panel-card">
               <div class="p">
                 General Members
               </div>
               <div class="panel-body text-center">
                 <div class="m-v-lg">
                   Total accounts
                   <div class="h2 text-success font-bold hm-users-count">0</div>
                 </div>
               </div>
               <div class="b-t b-light p">
                 <span class="btn btn-primary btn-md">View Details</span>
               </div>
             </div>
           </div>
           <div class="col-sm-4">
              <div class="panel panel-card">
                <div class="p">
                  Members by Gender
                </div>
                <div class="panel-body text-center">
                  <div class="m-v-lg">
                    Total accounts
                    <div class="h2 text-success font-bold hm-users-count">0</div>
                  </div>
                </div>
                <div class="b-t b-light p">
                  <span class="btn btn-primary btn-md">View Details</span>
                </div>
              </div>
            </div>
        </div>
			  </div>
		  </div>
		</div>
		</div>
		</div>
    </div>
  </div>
  <!-- / -->
</div>
</div>
