<title>Company Profile </title>
  <div  id="content" class="app-content ng-scope"  role="main" ui-view="content@">
    <div class="box ng-scope">
		  <!-- Content Navbar -->
		  <div w3-include-html="/templates/navTop" class="hm-nav-bar-top">&nbsp;</div>
		  <!-- Content -->
		  <div class="box-row">
			<div class="box-cell">
			  <!-- uiView:  -->
       <div class="box-inner padding ng-scope" ui-view="" id="view">
         <!-- uiView:  -->
         <div ui-view="" class="ng-scope">
		  <div class="row ng-scope">
		     <div class="col-md-3 hm-nav-bar-aside">
  				<div class="col-sm-12">
  				  <h5 class="no-margin m-b b lc-nav-adjgrade">
            Advanced Grading</h5>
  				  <div class="list-group list-group-gap">
  					<a href="/superuser" class="list-group-item md-whiteframe-z1">
  					  <span class="mdi-action-home pull-left"></span><span  class="margin-3 lc-nav-home">  Home </span>
  					</a>
            <a href="/settings/grading"  class="list-group-item md-whiteframe-z0">
              <span class="mdi-av-my-library-books pull-left"></span><span  class="margin-3 lc-nav-adjgrade">   General Grading </span> <span class="mdi-navigation-chevron-left pull-right"></span>
            </a>
            <a href="/settings/grading/advanced"  class="list-group-item md-whiteframe-z0   bd-l-red">
              <span class="mdi-av-my-library-books pull-left"></span><span  class="margin-3 lc-nav-advgrade">   Advanced Grading </span> <span class="mdi-toggle-radio-button-on text-danger pull-right"></span>
            </a>
  				  </div>
  				</div>
			  </div>
			  <div class="col-md-8">
           <div class="row">
             <h5 class="text-left b">Advanced Grading Panel</h5>
             <div class="panel panel-default ng-scope">
                <div class="panel-heading">
                  Conditional Grading <small><a data-toggle="modal" class="b" data-target="#hm-m-g-a-0"><u>What's this?</u></a></small>
                </div>
                <div class="panel-body no-print">
                  <button type="button" data-toggle="modal" data-target="#hm-m-g-a-1" class="btn btn-sm red" tabindex="0">
                    <i class="glyphicon glyphicon-plus">
                    </i> Add Grade Condition
                  </button>
                  <button type="button" data-toggle="modal" data-target="#hm-m-g-a-2" class="btn btn-sm btn-info" tabindex="0">
                    <i class="glyphicon glyphicon-time">
                    </i> Current View : <span class="hm-sv-v-g-year"> 2017</span>
                  </button>
                  <div class="modal fade" id="hm-m-g-a-0" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title" id="">Conditional Grading</h4>
                        </div>
                        <div class="modal-body">
                          <blockquote cite="http://">
                            Conditional Grading (CG) :
                            <p><small>first of all you only set this if your school is either a collage, university or high school</small> </p>
                          </blockquote>
                          <p>CG. simply means to additionally rank a student's mark based on the number of papers he/she does in a particular subject </p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade ucwords" id="hm-m-g-a-1" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                    <div class="modal-dialog modal-md">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title b hm-m-g-a-hd" id="">Add a grade condition</h4>
                        </div>
                        <div class="modal-body hm-m-g-a-bd">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="col-sm-2 control-label clearfix"> Name </label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control hm-inpt-g-a-a" name="" maxlength="5" value="" placeholder="A+">
                              </div>
                            </div><br><br>
                            <div class="form-group">
                              <label class="col-sm-2 control-label"> Year</label>
                              <div class="col-sm-10">
                                <select class="form-control hm-sv-years hm-inpt-g-a-b" name="">
                                </select>
                              </div>
                            </div><br><br>
                            <div class="form-group">
                              <label class="col-sm-2 control-label">Class</label>
                              <div class="col-sm-10">
                                <select class="form-control hm-sv-classes hm-inpt-g-a-c" name="">
                                </select>
                              </div>
                            </div><br><br>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="col-sm-2 control-label"> Paper </label>
                              <div class="col-sm-10">
                                <select class="form-control  hm-inpt-g-a-d" name="">
                                  <option value="1">1 paper</option>
                                  <option value="2" selected>2 papers</option>
                                  <option value="3">3 papers</option>
                                </select>
                              </div>
                            </div><br><br>
                            <div class="form-group">
                              <label class="col-sm-2 control-label">Least</label>
                              <div class="col-sm-10">
                                <select class="form-control hm-sv-grades-class hm-inpt-g-a-e" name="">
                                  <option value="null">Choose Grade</option>
                                </select>
                              </div>
                            </div><br><br>
                            <span id="hm-in-warn" class="col-md-offset-3"></span><br>
                          </div>
                        </div><br><br><br><br><br><br><br>
                        <div class="modal-footer text-muted">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Discard</button>
                          <button type="button"  class="btn btn-primary hm-g-btn-save-c disabled" >Create Grade</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade" id="hm-m-g-a-2" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title" id="hm-g-a-v-hd">View C.Grades by</h4>
                        </div>
                        <div class="modal-body">
                          <div class="form-group">
                            <label class="col-sm-2 control-label"> Year</label>
                            <div class="col-sm-10">
                              <select class="form-control hm-sv-years hm-inpt-g-a-f" name="">
                              </select>
                            </div>
                          </div><br><br>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Class</label>
                            <div class="col-sm-10">
                              <select class="form-control hm-sv-classes hm-inpt-g-a-g" name="">
                              </select>
                            </div>
                          </div><br><br>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                          <button type="button" class="btn btn-primary indigo hm-g-btn-save-d">View</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- warning modal -->
                  <div class="modal fade" id="hm-modal-warn-2" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title redText text-center " id="hm-modal-warn-hd">Sorry</h4>
                        </div>
                        <div class="modal-body">
                          <blockquote cite="#" class="hm-modal-warn-body">
                          </blockquote>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">it's Ok</button>
                          <button type="button" class="btn btn-primary hm-g-btn-save-d-1" name="button" data-toggle="modal" data-target="#hm-m-g-a-1" data-dismiss="modal">Create One</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped table-bordered ucwords">
                  <thead>
                    <tr class="text-center">
                      <th>CG Name </th>
                      <th>CG Class</th>
                      <th>Max Paper</th>
                      <th>Least Grade</th>
                      <th>CG Year</th>
                      <th>Discard</th>
                    </tr>
                  </thead>
                  <tbody class="hm-mv-cg-grades text-center">
                    &nbsp;
                  </tbody>
                </table>
              </div>
           </div>
        </div>
			  </div>
		  </div>
		</div>
		</div>
		</div>
    </div>
  </div>
  <!-- / -->
</div>
