<title>Search Results</title>
<div  >
  <div id="content" class="app-content ng-scope"  role="main" ui-view="content@"><div class="box ng-scope">
		  <!-- Content Navbar -->
      <div w3-include-html="/templates/navTop" class="hm-nav-bar-top">&nbsp;</div>
      
		  <!-- Content -->
		  <div class="box-row">
			<div class="box-cell">
			  <!-- uiView:  --><div class="box-inner padding ng-scope" ui-view="" id="view"><!-- uiView:  --><div ui-view="" class="ng-scope">
		  <div class="row ng-scope">
		     <div class="col-md-3">
				<div class="col-sm-12">
				  <h5 class="no-margin m-b b">
          Search</h5>
				  <div class="list-group list-group-gap">
					<a href="#" class="list-group-item md-whiteframe-z1 hm-prev-pg">
					  <span class="mdi-action-home pull-left"></span><span  class="margin-3 lc-nav-home">  Home </span> <span class="mdi-toggle-radio-button-on text-danger pull-right"></span>
					</a>
				  </div>
				</div>
			  </div>
			  <div class="col-md-7">
           <div class="row">
             <h5 class="text-left"><span class="b">Search results for: </span><span class="text-muted  s-18 "><i>wibgates kenneth the great</i></span></h5>
             <div class="col-md-3">
               <div class="panel panel-default">
                 <div class="panel-heading">
                   <h3 class="panel-title b">Wibgates Kenneth</h3>
                 </div>
                 <div class="panel-body">
                   <a href="/reports/U04_567" class="thumbnail">
                     <img src="/img/citizen.jpg" alt="citizen">
                   </a>
                 </div>
               </div>
             </div>
             <div class="col-md-3">
               <div class="panel panel-default">
                 <div class="panel-heading">
                   <h3 class="panel-title b">Kasolo Abiliga</h3>
                 </div>
                 <div class="panel-body">
                   <a href="#" class="thumbnail">
                     <img src="/img/citizen.jpg" alt="citizen">
                   </a>
                 </div>
               </div>
             </div>
             <div class="col-md-3">
               <div class="panel panel-default">
                 <div class="panel-heading">
                   <h3 class="panel-title b">Kasolo Abiliga</h3>
                 </div>
                 <div class="panel-body">
                   <a href="#" class="thumbnail">
                     <img src="/img/citizen.jpg" alt="citizen">
                   </a>
                 </div>
               </div>
             </div>
             <div class="col-md-3">
               <div class="panel panel-default">
                 <div class="panel-heading">
                   <h3 class="panel-title b">Kasolo Abiliga</h3>
                 </div>
                 <div class="panel-body">
                   <a href="#" class="thumbnail">
                     <img src="/img/citizen.jpg" alt="citizen">
                   </a>
                 </div>
               </div>
             </div>
             <div class="col-md-3">
               <div class="panel panel-default">
                 <div class="panel-heading">
                   <h3 class="panel-title b">Kasolo Abiliga</h3>
                 </div>
                 <div class="panel-body">
                   <a href="#" class="thumbnail">
                     <img src="/img/citizen.jpg" alt="citizen">
                   </a>
                 </div>
               </div>
             </div>
             <div class="col-md-3">
               <div class="panel panel-default">
                 <div class="panel-heading">
                   <h3 class="panel-title b">Kasolo Abiliga</h3>
                 </div>
                 <div class="panel-body">
                   <a href="#" class="thumbnail">
                     <img src="/img/citizen.jpg" alt="citizen">
                   </a>
                 </div>
               </div>
             </div>
             <div class="col-md-3">
               <div class="panel panel-default">
                 <div class="panel-heading">
                   <h3 class="panel-title b">Kasolo Abiliga</h3>
                 </div>
                 <div class="panel-body">
                   <a href="#" class="thumbnail">
                     <img src="/img/citizen.jpg" alt="citizen">
                   </a>
                 </div>
               </div>
             </div>
             <div class="col-md-3">
               <div class="panel panel-default">
                 <div class="panel-heading">
                   <h3 class="panel-title b">Kasolo Abiliga</h3>
                 </div>
                 <div class="panel-body">
                   <a href="#" class="thumbnail">
                     <img src="/img/citizen.jpg" alt="citizen">
                   </a>
                 </div>
               </div>
             </div>
           </div>
           <div class="row">
             <center><span class="hm-disp-btn-1"><button type="button" class="btn btn-default">
               <i class="mdi-action-search pull-left"></i> View More<i class="mdi-navigation-unfold-more pull-right"></i>
             </button></span></center>
           </div>
        </div>
			  </div>
		  </div>
		</div>
		</div>
		</div>
    </div>
  </div>
  <!-- / -->
</div>
</div>
