<title>Hilmacs Quick Start</title>
<div class="app">
     <div class="deep-purple-700 bg-big" id="hlmLoginApp_Container_" >
   <div class="center-block w-xxl w-auto-xs p-v-md">
   <div class="navbar">
     <div class="navbar-brand m-t-lg text-center">
     <span class="m-l inline">Hilmacs</span>
     </div>
   </div><br>
        <div class="p-lg panel md-whiteframe-z1 text-color m animated fadeIn hm-int-state-bd">
          <div class="m-b text-sm text-center text-bold ">
            <strong>
             <span class="hm-int-state-hd">Please Enter User License</span>
          </strong>
         </div>
       <div class="hm-int-state-bd-1">
         <form name="form" action="#" id="hm-int-state"  >
         <div class="md-form-group float-label hm-int-state-1-bd">
           <input type="text" class="md-input text-left s-18 hm-int-state-1" size="40"  name="license" id="license" placeholder="###### - ##### - ######"  ng-model="user.email" maxlength="19" required autofocus>
           <br><label  class="block w-full text-center">License</label>
         </div>
         <button md-ink-ripple=""  type="submit" class="md-btn md-raised hm-int-btn-1 indigo btn-block p-h-md ">Submit</button>
       </form>
       </div>
    </div>

    <div class="p-v-lg text-center">
      <a href="https://app.hilmacs.com/" target="_blank" class="m-b lc-sys-ft-key"></a>
     </div>

   </div>

 </div>
</div>
