<title>Superuser </title>
<div  >
  <div id="content" class="app-content ng-scope"  role="main" ui-view="content@"><div class="box ng-scope">
		  <!-- Content Navbar -->
      <div w3-include-html="/templates/navTop" class="hm-nav-bar-top">&nbsp;</div>

		  <!-- Content -->
		  <div class="box-row">
			<div class="box-cell">
			  <!-- uiView:  --><div class="box-inner padding ng-scope" ui-view="" id="view"><!-- uiView:  --><div ui-view="" class="ng-scope">
		  <div class="row ng-scope">
		     <div class="col-md-3 hm-nav-bar-aside">
				<div class="col-sm-12">
				  <h5 class="no-margin m-b b">
          Admin dashboard</h5>
				  <div class="list-group list-group-gap">
					<a href="/superuser" class="list-group-item md-whiteframe-z1 bd-l-red ">
					  <span class="mdi-action-home pull-left"></span><span class="margin-3 lc-nav-home">  Home </span> <span class="mdi-toggle-radio-button-on text-danger pull-right"></span>
					</a>
          <a href="/settings/company"  class="list-group-item md-whiteframe-z0">
					  <span class="mdi-social-location-city pull-left"></span><span  class="margin-3 lc-nav-cprofile">   Company Profile </span> <span class="mdi-navigation-chevron-left pull-right"></span>
					</a>
					<a href="/accounts"  class="list-group-item md-whiteframe-z0">
					  <span class="glyphicon glyphicon-user pull-left"></span><span  class="margin-3 lc-nav-accounts">   Manage Accounts </span> <span class="mdi-navigation-chevron-left pull-right"></span>
					</a>
          <a href="/settings/structures"  class="list-group-item md-whiteframe-z0">
					  <span class="mdi-hardware-desktop-windows pull-left"></span><span  class="margin-3 lc-nav-sclass">   Classes &amp; Subjects </span> <span class="mdi-navigation-chevron-left pull-right"></span>
					</a>
					<a href="/accounts/id.card" class="list-group-item md-whiteframe-z0">
					  <span class="glyphicon glyphicon-certificate pull-left"></span><span  class="margin-3 lc-nav-ids">   Identification Cards </span> <span class="mdi-navigation-chevron-left pull-right"></span>
					</a>
          <a  href="/settings/grading" class="list-group-item md-whiteframe-z0">
					  <span class="mdi-action-grade pull-left"></span><span  class="margin-3 lc-nav-grade">   Set Grading Scale </span> <span class="mdi-navigation-chevron-left pull-right"></span>
					</a>
					<a href="/settings/messenger" class="list-group-item md-whiteframe-z0">
					  <span class="glyphicon  glyphicon-phone pull-left"></span><span  class="margin-3 lc-nav-inter">   Messaging &amp; Emails </span> <span class="mdi-navigation-chevron-left pull-right"></span>
					</a>
					<a href="/logins" class="list-group-item md-whiteframe-z0">
					  <span class="mdi-action-input pull-left"></span><span  class="margin-3 lc-nav-log">   Monitor Logins  </span> <span class="mdi-navigation-chevron-left pull-right"></span>
					</a>
          <a href="/backup" class="list-group-item md-whiteframe-z0">
					  <span class="mdi-action-settings-backup-restore pull-left"></span><span  class="margin-3 lc-nav-brest">   Backups &amp; Restore  </span> <span class="mdi-navigation-chevron-left pull-right"></span>
					</a>
				  </div>
				</div>
			  </div>
			  <div class="col-md-8">
        </div>
		  </div>
		</div>
		</div>
		</div>
    </div>
  </div>
  <!-- / -->
</div>
</div>
